# Copyright (c) 2022-2026 Centre National d'Etudes Spatiales (CNES).
#
# This file is part of Bulldozer
# (see https://github.com/CNES/bulldozer).
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

[MASTER]
# Analyze C extensions capabilities packages (Cython).
extension-pkg-allow-list=
    bulldozer.preprocessing.fill,
    bulldozer.preprocessing.regular,
    bulldozer.preprocessing.border,
    rasterio

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=1

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=fixme,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    missing-module-docstring,
    missing-function-docstring

# Avoid false positive (rasterio, etc.)
enable=c-extension-no-member

[FORMAT]
max-line-length=120

[REPORTS]
# Tells whether to display a full report or only the messages.
reports=no
# Activate the evaluation score.
score=no
output-format=text

[LOGGING]
# The type of string formatting that logging methods do. `old` means using %
# formatting, `new` is for `{}` formatting.
logging-format-style=new

[BASIC]
# Exclude protected parameters from argparse.
exclude-protected=_group_actions,_prog

[BASIC]
# Naming style matching correct argument names.
argument-naming-style=snake_case

# Naming style matching correct attribute names.
attr-naming-style=snake_case

# Naming style matching correct class names.
class-naming-style=PascalCase

# Naming style matching correct constant names.
const-naming-style=UPPER_CASE

# Naming style matching correct function names.
function-naming-style=snake_case

# Naming style matching correct method names.
method-naming-style=snake_case

# Naming style matching correct module names.
module-naming-style=snake_case

# Naming style matching correct variable names.
variable-naming-style=snake_case

# Good variable names which should always be accepted, separated by a comma.
good-names=i,j,k,_

# Bad variable names which should always be refused, separated by a comma.
bad-names=foo,bar,baz,toto,tutu,tata

[DESIGN]
# Maximum number of arguments for function / method.
max-args=10

# Maximum number of attributes for a class (see R0902).
max-attributes=12

# Maximum number of branch for function / method body.
max-branches=12

# Maximum number of locals for function / method body.
max-locals=30

# Maximum number of return / yield for function / method body.
max-returns=6

# Maximum number of statements in function / method body.
max-statements=100
